.container {
  max-width: 992px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .column-half {
    width: 50%;
  }
}
