img {
  display: block;
  width: 100%;
}

body {
  font-family: "Sofia Sans", sans-serif;
  letter-spacing: 1.5px;
}

.nav-bar-logo {
  width: 60px;
  height: 61px;
}

.entries-margin {
  margin: 0 16px;
}

.entry-background {
  background-color: #0f1721;
}

.header-background {
  background-color: #f64e4f;
}

.anchor-entries {
  text-decoration: none;
}

.header-text-color {
  color: #0f1721;
}

.nav-bar-margin {
  margin: 16px 0 0;
}

.content-margin {
  margin: 14px 0 0;
}

.no-margin {
  margin: 0;
}

.container-background {
  background-color: white;
  border-radius: 4px;
}

.space-between {
  justify-content: space-between;
}

.agents-list-margin {
  margin-left: 12px;
}

.font-size-agent-info {
  font-size: 24px;
}

.font-size-agent-ability {
  font-size: 20px;
}

.ability-image-background {
  border-radius: 6px;
  background-color: grey;
}

.ability-column-padding {
  padding: 0 16px;
}

.modal-button {
  text-decoration: none;
  background-color: grey;
  color: white;
  padding: 15px;
  border-radius: 6px;
  border: 0 solid;
  box-shadow: 4px 2px 2px black;
  margin-right: 15px;
  margin-bottom: 10px;
}

.display-flex-right {
  display: flex;
  justify-content: end;
}

.modal-container {
  background-color: rgb(0 0 0 / 30%);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: white;
  width: 400px;
  border-radius: 4px;
  max-width: 100%;
  text-align: center;
}
