img {
  display: block;
  width: 100%;
}

body {
  font-family: "Sofia Sans", sans-serif;
  letter-spacing: 1.5px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nav-bar-logo {
  width: 60px;
  height: 61px;
}

.entries-margin {
  margin: 0 16px;
}

.entry-background {
  background-color: #0f1721;
}

.header-background {
  background-color: #f64e4f;
}

.anchor-entries {
  text-decoration: none;
}

.header-text-color {
  color: #0f1721;
}

.nav-bar-margin {
  margin: 16px 0 0;
}

.content-margin {
  margin: 14px 0 0;
}

.no-margin {
  margin: 0;
}

.container-background {
  background-color: white;
  border-radius: 4px;
}

.space-between {
  justify-content: space-between;
}

.agents-list-margin {
  margin-left: 12px;
}

.font-size-agent-info {
  font-size: 24px;
}

.font-size-agent-ability {
  font-size: 20px;
}

.ability-image-background {
  border-radius: 6px;
  background-color: grey;
}

.ability-column-padding {
  padding: 0 16px;
}
